.editOverview {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
}

.editOverview .editElement {
    margin-bottom: 20px;
    width: 400px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.inputBox {
    width: 250px;
}

.editOverview .errorMessage {
    width: 250px;
}

.editOverview .editFields {
    width: auto;
}

.inputBoxRegister {
    width: 226px;
}