ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
    width: fit-content;
    height: 100%; /* Full height */
    position: fixed;
    overflow: auto;
}

li {
    text-align: center;
  }
  