
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 /*  background-color: rgb(40, 29, 64); */
 /*  background-color: #24252A; */
}

#login {
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: 2px solid black;
  background-image: url("~/assets/images/fruit.jpg");
  width: fit-content;
}

footer {
  background-color: rgb(40, 29, 64);
  color: whitesmoke;
  padding: 30px 5%; /* size footer */
}